.darkBody{
    background:rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.darkDiv{
    background: rgb(82, 82, 82);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.darkElements{
    border: none;
    border-radius: 10px;
    background:rgb(43, 43, 43);
    color: #fff;
}