a {
    text-decoration: none;
    text-transform: lowercase;
    color: rgb(138, 138, 138);
}

button, input {
    padding: 5px;
}
button:hover
{
    cursor: pointer;
}

#app {
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#style {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
    background: rgba(126, 126, 126, .5);
    color: rgba(255, 255, 255, .5);
}